body, html {
  height: 100%;
  overflow: hidden;
}

canvas, .canvas {
  width: 300px;
  height: 300px;
  float: left;
  border: solid 1px #aaa;
  margin: 10px;
  text-align: center;
  line-height: 300px;
  font-size: 30px;
}
.canvas {
  cursor: pointer;
}
form {
  margin: 10px;
}

.bg-img {
  background-image: url('../img/tank.jpg');
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.color-mask {
  height: 100%;
  background-color: rgba(40, 40, 40, .5);
}

.mask {
  height: 100%;
  width: 100%;
}

.title {
  text-align: center;
  color: #aaa;
}

.btns-block {
  text-align: center;
  margin-bottom: 30px;
}

.container-blocks {
  display: block;
  margin: 0 auto;
  width: 1400px;
}

.chat-block {
  width: 300px;
  min-height: 70vh;
  display: block;
  float: left;
  background-color: rgba(215, 215, 215, .7);
}

.game-desk-block {
  width: 838px;
  min-height: 70vh;
  display: block;
  margin-left: 16px;
  float: left;
  background-color: rgba(215, 215, 215, .7);
}

.right-menu-block {
  width: 230px;
  min-height: 70vh;
  display: block;
  margin-left: 16px;
  float: left;
  background-color: rgba(215, 215, 215, .7);
}
